<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品列表</title>
    <link rel="stylesheet" href="../../styles/index.css">
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/classify.css">
    <link rel="stylesheet" href="../../assets/css/toPage.css">
</head>
<body>
<!-- header -->
<div class="header">
    <span>您好，欢迎光临元隆有品商城</span>
    <a>登录</a>
    <a style="margin:0 5px">/</a>
    <a>注册</a>
</div>
<div class="header-search">
    <div class="input-group">
        <input type="text" class="form-control" onkeydown="onKeyDown(event)"/>
        <span class="input-group-addon"><i class="icon iconfont ">&#xe61b;</i></span>
    </div>
    <button type="button" class="btn btn-default">购物车（0）</button>
</div>
<div class="header-content">
    <div class="content-left">
        <a id="menuBtn" >
            <i class="icon iconfont ">&#xe60d;</i>

            全部商品分类
            <i class="icon iconfont" >&#xe607;</i>
        </a>
        <a>企业服务</a>
        <a>技术赋能</a>
        <a>数字营销</a>
        <div ref="menuList" class="menuList">
            <ul>
                <li>
                    <span>电子产品、文娱办公</span>
                    <span>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              </span>
                </li>
                <li>
                    <span>家居电器</span>
                    <span>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              <a>手机通讯整机</a>
              </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-right">
        <span id="dropdownLink" class="dropdown-link">
            <i class="icon iconfont" >&#xe616;</i>
         我的账户
        </span>
        <ul id="userMenuList">
            <li>个人信息</li>
            <li>我的收藏</li>
            <li>我的订单</li>
            <li>退出登录</li>
        </ul>
    </div>
</div>
<!-- end -->
<div class="page">
    <div class="page-content">
        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">商品分类</a></li>
            <li class="active">商品二级分类</li>
        </ul>
        <div class="title-container">
            <div class="left-arow">
                <p>电子产品</p>
                <p>
                    <span>共16</span>
                    <span>/</span>
                    <span>123个礼品</span>
                </p>
            </div>
            <div class="right-arow">
                <button type="button" class="btn btn-default">价格低到高<i class="icon iconfont ">&#xe60f;</i></button>
                <button type="button" class="btn btn-default">销量高到低<i class="icon iconfont ">&#xe607;</i></button>
            </div>
        </div>
        <div class="tabs-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="commodity-content bg-white shadow">
                        <i class="type new">new</i>
                        <div class="img">
                            <img src="../../assets/image(15).png" alt="">
                        </div>
                        <span class="name">无线蓝牙耳机</span>
                        <div class="price">
                  <span>
                    ￥199
                  </span>
                            <i class="iconfont icon-shopping_cart1x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_1"></div>
    </div>
</div>
<!-- footer -->
<div class="footer-container">
    <div class="footer-btn-content">
        <div><img src="../../assets/footer_icon_4.png" alt="">订购须知</div>
        <div><img src="../../assets/footer_icon_1.png" alt="">运输须知</div>
        <div><img src="../../assets/footer_icon_2.png" alt="">联系我们</div>
        <div><img src="../../assets/footer_icon_3.png" alt="">投诉建议</div>
    </div>
    <div class="footer-tips">
        <div class="footer-tips-left">
            <p>北京元隆雅图文化传播股份有限公司</p>
            <p>电话：010-83528822</p>
            <p>北京市西城区广安门内大街338号北京港中</p>
        </div>
        <div class="footer-tips-right">
            <el-button type="primary" icon="el-icon-headset">人工客服</el-button>
            <p>工作时间：9:00-18:00</p>
        </div>
    </div>
    <div class="footer-msg">
        <p>京ICP备13009990号-25&nbsp;资质公示&nbsp;|&nbsp;Copyright © 2015 Ylyato Company. All Rights Reserved. 元隆有品 版权所有</p>
    </div>
</div>
<!-- end -->
</body>
<!-- jquery -->
<script src="../../assets/js/jquery-1.12.4.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<!--再引入toPage.js-->
<script src="../../assets/js/toPage.js"></script>
<!--插件使用-->
<script src="../../assets/js/index.js"></script>
<script>
    $(function(){
        $("#menuBtn").click(function(e) {
            $(".menuList").toggle();
        });
        $(".content-right").click(function(e) {
            $("#userMenuList").toggle();
        });
    })


</script>
</html>
